.main-content-contact {
    display: grid;
    height: 700px;
    grid-template-columns: 65% 35%;
    grid-template-rows: 150px 500px;
    grid-template-areas: "titulo titulo"
                         "a1 a2";
    justify-items: center;
    align-items: center;

    .titulo-contact {
        grid-area: titulo;
        
        h2{
            @include titulos($colorPrincipal, 100px, 1);
        }
    }
    .box1-contact {
        grid-area: a1;
    }
    .box-form {
        grid-area: a2;
        width: 70%;
    
        & h3 {
            color: white;
            text-align: center;
        }
        input {
            width: 100%;
            margin-bottom: 10px;
        }
        textarea {
            width: 100%;
            height: 120px;
            margin-bottom: 10px;
        }
        .botonsin:hover {
            background-color: $colorPrincipal;
        }    
    }
}