.main-content-galeria {
    display: grid;
    height: 5800px;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 200px 200px 400px 500px 400px 400px 200px 400px 500px 500px 400px 500px 400px 400px;
    grid-template-areas: 
                         "galeria galeria galeria"
                         "tituloG tituloG tituloG"
                         "a1 a2 a3"
                         "a4 a4 a5"
                         "a6 a7 a8"
                         "a9 a10 a11"
                         "tituloG2 tituloG2 tituloG2"
                         "a12 a13 a14"
                         "a15 a15 a16"
                         "a17 a18 a18"
                         "a19 a20 a21"
                         "a22 a22 a23"
                         "a24 a25 a26"
                         "a27 a28 a29";
    justify-content: space-evenly;
    align-content: space-around;
    justify-items: center;
    align-items: center;
    margin-bottom: 100px;

    .galeria {
        grid-area: galeria;
        font-size: 50px;
        color: $colorPrincipal;
        width: 100%;
        text-align: center;
    }
    .tituloG {
        @include titulos(white, 50px);
        grid-area: tituloG;
        background-color: $colorPrincipal;
        width: 100%;
        text-align: center;
    }
    .tituloG2 {
        @extend .tituloG;
        grid-area: tituloG2;
    }
    .box1-9z {
        grid-area: a1;
    }
    .box2-9z {
        grid-area: a2;
    }
    .box3-9z {
        grid-area: a3;
    }
    .box4-9z {
        grid-area: a4;
    }
    .box5-9z {
        grid-area: a5;
    }
    .box6-9z {
        grid-area: a6;
    }
    .box7-9z {
        grid-area: a7;
    }
    .box8-9z {
        grid-area: a8;
    }
    .box9-9z {
        grid-area: a9;
    }
    .box10-9z {
        grid-area: a10;
    }
    .box11-9z {
        grid-area: a11;
    }
    .box1-kru {
        grid-area: a12 ;
    }
    .box2-kru {
        grid-area: a13;
    }
    .box3-kru {
        grid-area: a14;
    }
    .box4-kru {
        grid-area: a15;
    }
    .box5-kru {
        grid-area: a16;
    }
    .box6-kru {
        grid-area: a17;
    }
    .box7-kru {
        grid-area: a18;
    }
    .box8-kru {
        grid-area: a19;
    }
    .box9-kru {
        grid-area: a20;
    }
    .box10-kru {
        grid-area: a21;
    }
    .box11-kru {
        grid-area: a22;
    }
    .box12-kru {
        grid-area: a23;
    }
    .box13-kru {
        grid-area: a24;
    }
    .box14-kru {
        grid-area: a25;
    }
    .box15-kru {
        grid-area: a26;
    }
    .box16-kru {
        grid-area: a27;
    }
    .box17-kru {
        grid-area: a28;
    }
    .box18-kru {
        grid-area: a29;
    }
}