@media screen and (max-width: 767px) {

    /* HOME */
    .header {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .header-nav {
        width: 100%;
        text-align: center;
    }
    .boton {
        margin-bottom: 10px;
    }
    .main-content {
        height: 2100px;
        grid-template-columns: 90%;
        grid-template-rows: 400px 420px 300px 400px 400px;
        grid-template-areas: "a1" 
                             "a2"
                             "a3" 
                             "a4" 
                             "a5";
    }
    .footer {
        flex-direction: column;
        padding: 30px 10px;
        margin-top: 20px;
    }

    /* 9z Team */

    .main-content-9z {
        height: 5500px;
        grid-template-columns: 90%;
        grid-template-rows: 100px 400px 450px 400px 200px 400px 450px 400px 400px 750px 400px 500px 250px;
        grid-template-areas: "titulo" 
                             "a2" 
                             "a1"
                             "banner" 
                             "titulo2"
                             "a3" 
                             "a4"
                             "a5"
                             "a6"
                             "a7"
                             "a8"
                             "a9"
                             "a10";
    }

    /* KRU Esports */

    .main-content-kru {
        height: 8000px;
        grid-template-columns: 90%;
        grid-template-rows: 100px 400px 400px 50px 400px 200px 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px 200px 1100px 400px;
        grid-template-areas: "titulo"
                             "a1"
                             "a2"
                             "espacio"
                             "banner"
                             "titulo2"
                             "a3"
                             "a4"
                             "a5"
                             "a6"
                             "a7"
                             "a8"
                             "a9"
                             "a10"
                             "a11"
                             "a12"
                             "a13"
                             "a14"
                             "a15"
                             "a16";
    }

    /* GALERIA */

    .main-content-galeria {
        height: 12500px;
        grid-template-columns: 90%;
        grid-template-rows: 200px 200px 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px 200px 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px;
        grid-template-areas: 
                             "galeria"
                             "tituloG"
                             "a1"
                             "a2"
                             "a3"
                             "a4"
                             "a5"
                             "a6"
                             "a7"
                             "a8"
                             "a9"
                             "a10"
                             "a11"
                             "tituloG2"
                             "a12"
                             "a13"
                             "a14"
                             "a15"
                             "a16"
                             "a17"
                             "a18"
                             "a19"
                             "a20"
                             "a21"
                             "a22"
                             "a23"
                             "a24"
                             "a25"
                             "a26"
                             "a27"
                             "a28"
                             "a29";
    }

    /* Contacto */ 

    .main-content-contact {

        grid-template-columns: 100%;
        grid-template-rows: 150px 500px;
        grid-template-areas: "titulo"
                             "a2";

        .box1-contact {
            display: none;
        }
    }
}

@media screen and ( min-width: 768px) and ( max-width: 1199px) {

    /* HOME */
    .main-content {
        height: 2000px;
        grid-template-columns: 90%;
        grid-template-rows: 350px 420px 300px 400px 400px;
        grid-template-areas: "a1"
                             "a2" 
                             "a3" 
                             "a4" 
                             "a5";
    }
    .footer {
        flex-direction: column;
        padding: 30px 10px;
        margin-top: 20px;
    }

    /* 9z Team */

    .main-content-9z {
        height: 5400px;
        grid-template-columns: 90%;
        grid-template-rows: 100px 600px 400px 400px 200px 600px 400px 400px 300px 500px 400px 400px 200px;
        grid-template-areas: "titulo" 
                             "a2" 
                             "a1"
                             "banner" 
                             "titulo2"
                             "a3" 
                             "a4"
                             "a6"
                             "a5"
                             "a7"
                             "a8"
                             "a9"
                             "a10";
    }

    /* KRU ESPORTS */

    .main-content-kru {
        height: 7400px;
        grid-template-columns: 90%;
        grid-template-rows: 200px 400px 400px 50px 400px 400px 200px 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px 200px 800px 400px;
        grid-template-areas: "titulo"
                             "a1"
                             "a2"
                             "espacio"
                             "banner"
                             "titulo2"
                             "a3"
                             "a4"
                             "a5"
                             "a6"
                             "a7"
                             "a8"
                             "a9"
                             "a10"
                             "a11"
                             "a12"
                             "a13"
                             "a14"
                             "a15"
                             "a16";
    }

    /* Galeria */

    .main-content-galeria {
        height: 7900px;
        grid-template-columns: 45% 45%;
        grid-template-rows: 200px 200px 400px 400px 400px 400px 400px 400px 200px 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px;
        grid-template-areas:
                             "galeria galeria"
                             "tituloG tituloG"
                             "a1 a2"
                             "a3 a4"
                             "a5 a5"
                             "a6 a7"
                             "a8 a9"
                             "a10 a11"
                             "tituloG2 tituloG2"
                             "a12 a13"
                             "a14 a15"
                             "a16 a16"
                             "a17 a18"
                             "a19 a19"
                             "a20 a21"
                             "a22 a23"
                             "a24 a24"
                             "a25 a26"
                             "a27 a27"
                             "a28 a29";
    }

    /* Contacto */

    .main-content-contact {
        height: 1200px;
        grid-template-columns: 100%;
        grid-template-rows: 150px 500px 500px;
        grid-template-areas: "titulo"
                             "a2"
                             "a1";
        align-content: space-around;
        margin-bottom: 0px;
    }
    
}